/* google fonts including area */
@import url('https://fonts.googleapis.com/css2?fomily=Josefin+Sans:wght@400;500;600;700&display-swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
?google fonts including area
*regular type:
font-family: 'Josefin Sans', sans-serif;
font-family: "Arvo", serif;

*italic type:
font-family: "Pacifico", serif;
font-family: "Satisfy", serif;
font-family: "Dancing Script", serif;


*monospace type:
  font-family: "Ubuntu Mono", serif;


*/